body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

nav {
    background: #0d3b66;
    padding: 10px 0;
    text-align: center;
}

nav ul{
    list-style: none;
    margin:0;
    padding:0;
}

nav li{
    display: inline-block;
    margin: 0 15px;

}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ff6600;
}

h1{
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
    color: #0d3b66
}

h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #3f72af;
}

section {
    padding: 20px;
    margin-bottom: 30px
}

img{
    display:block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
    color: #555;
}

ul{
    padding-left: 20px;

}

li {
    margin-bottom: 10px;
}

blockquote {
    font-style: italic;
    border-left: 4px solid #3f72af;
    padding-left: 15px;
    margin: 20px 0;
    color: #555;
    background-color: #e8f0fe;
}

footer{
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    color: #777;
    background-color: #f1f1f1;
    margin-top: 40px;
}

